@{
  Layout = "_Layout";
}

<form action="/" method="post">
  <label for="input">Enter a number</label>
  <input class="form-control" type="number" name="input">
  <button type="submit" class="btn btn-primary" name="button">Enter</button>
</form>
